div#main{

	text-align:center;
	background-image: url(hero.jpg);
	background-repeat: no-repeat;
	background-size: cover;

	position:fixed;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;

	div#tabs{
		width: 100%;
		height: 15%;
		position: absolute;
    bottom: 0;
    left: 0;

    table{
    	width: 100%;
    	td{
    		width: 20%;
    		text-align: center;
    		color: #fff;
    		h2{
    			font-size: 100px;
    		}
    	}
    }
	}

	div#partials{
		height: 85%;
		h1{
			font-size: 200px;
			color: #fff;
		}

		div#home{
			img{
				margin-top: 30px;
			}
		}

		div#about{
			height: 100%;
			padding-left: 10%;
			padding-right: 10%;

			div#content{
				width: 100%;
				height: 70%;
				background:rgba(0,0,0,0.5);
				border-radius: 25px;
				padding-left: 10%;
				padding-right: 10%;

				h3{
					position: relative;
  				top: 50%;
  				transform: translateY(-50%);

					color: #fff;
					font-size: 75px;
				}
			}
		}

		div#apps{
			height: 100%;
			padding-left: 10%;
			padding-right: 10%;
			
			div#content{
				width: 100%;
				height: 70%;
				h2{
					font-size: 75px;
					color: #fff;
				}

				div#app-list{
					float: left;
					background:rgba(0,0,0,0.5);
					border-radius: 25px;
					padding: 5%;
				}
				div#app-details{
					float: left;
					margin-left: 20px;
				}

				
			}
		}

		div#contact{
			width: 100%;
			height: 70%;
			div#content{
				h2{
					font-size: 50px;
					color: #fff;
				}
			}
		}

		div#sites{
			
		}
	}
}